beautifulsoup4==4.6.1
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
funcy==1.10.3
idna==2.7
lxml==4.9.1
mixpanel==4.3.2
pyTelegramBotAPI==3.6.4
requests==2.19.1
six==1.11.0
telegraph==1.2.1
urllib3==1.23
